<header>
    
    <div id="optionsHeader">
        <div id="menu" onclick="changueStyleLayout()">
                <img src="../images/icoMenuClose.svg"  id="imgMenu" alt=""> 
        </div>
        <div class="icon__menu">
            <div id="seccionEstadisticas"  >Juan Jose Arteta</div>
            <div class="botton" onclick="logout()">Cerrar sesion</div>
        </div>
    </div>

<div class="container" id="container1">
    <div class="gridContainer">
        <div class="navBar" id="navBar1">
            <div id="menu" class="navBarItems  desktopNone" onclick="changueStyleLayout()">
                <img src="../images/icoMenu.svg"  id="imgMenu" alt=""> 
            </div>
            <a href="/dashboard">
                <div class="navBarItems">
                    <div class="">
                        <img src="../images/icoDashobard.svg" alt="IconosDashboard">
                    </div>
                    <h4>Dashboard</h4>
                </div>
            </a>
            <a href="/dashboard/producciones">
                <div class="navBarItems">
                    <div class="">
                        <img src="../images/icoProducciones.svg" alt="icoDashboardFaenas">
                    </div>
                    <h4>Producciones</h4>
                </div>
            </a>
            <a href="/dashboard/galeria">
                <div class="navBarItems">
                    <div class="">
                        <img src="../images/icoGaleria.svg" alt="icoDashboardProductos">
                    </div>
                    <h4>Galeria</h4>
                </div>
            </a>
            <a href="/dashboard/usuarios">
                <div class="navBarItems">
                    <div class="">
                        <img src="../images/icoUSers.svg" alt="icoDashboardProductos">
                    </div>
                    <h4>Usuarios</h4>
                </div>
            </a>
        </div>
    </div>
</div>
</header>

<script src="../js/general/layoutMenu.js"></script>