<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/layout.css" rel="stylesheet" type="text/css" media="all">
        <link href="../css/newImageDashboard.css" rel="stylesheet" type="text/css" media="all">
        <title>Dashboard</title>
    </head>
    <body>
        <div class="containerLayout">
            <%- include('./layout/index.ejs') %>
        </div>
        <div class="infoDashboard">
            <div class="containerNewUser">
                <form action="/dashboard/character/description/<%= idProd %>" method="post" enctype="multipart/form-data">
                    <div class="contentNewUser">
                        <div class="titleNewUser">
                            Agregar descripción
                        </div>
                        <div class="userPassword" style="display: flex;justify-content: center;align-items: center;">
                            <input type="text" name="description" id="pass" placeholder="Agregar descripción">
                        </div>
                        <div class="submit">
                            <input type="button" onclick="location.href='/dashboard/editarProduccionVerPersonajes?id=<%= idProd %>';" value="Cancelar">
                            <input type="submit" value="Guardar" id="sendUser">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>