<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/layout.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="../css/userDashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="containerLayout">
        <%- include('./layout/index.ejs') %>
    </div>
    <div class="infoDashboard">
        <div class="containerCurdUsers">
            <div class="contentCrudHeader">
                <div class="titleUsers">
                    Usuarios
                </div>
                <div class="newUser">
                    <a href="/dashboard/nuevoUsuario"><button>Nuevo usuario</button></a>
                </div>
            </div>


            <div class="contentCrudUsers">
                <table>
                    <thead>
                        <th>Nombre</th>
                        <th>Usuario</th>
                        <th>Creación</th>
                        <th>Opciones</th>
                    </thead>
                    <tbody>
                        <form action="">
                            <td>
                                <input type="text" value="Juan José Arteta Maury" id="editUserName"  class="inputEditUser">
                            </td>
                            <td>
                                <input type="email" name="email" value="jj131204@gmail.com" id="editUserE-mail" class="inputEditUser">
                            </td>
                            <td>
                                <input type="date" value="13/12/2004" name="dateTime" class="inputEditUser">
                                </td>
                            <td>
                                <div class="containerIcons">
                                    <!--<div class="editUser">
                                        <a href="/descripcion"><img src="../images/editCrud.svg" alt="" > </a>
                                    </div> -->
                                    <input type="image" src="../images/icosave.svg" class="icoSaveUser">
                                    <div class="deleteUser" id="alert">
                                        <img src="../images/deletecrud.svg" alt="delete" onclick="deleteAlert()">
                                    </div>
                                </div>
                            </td>
                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>


<script src="../js/general/addAlertModal.js"></script>

<script type="module" src="../js/general/modules/headerAndsocialMedia.mjs"></script>