<!--  
    Documento creado para la secciones de editar las producciones del dashboard.
    Primera seccion en la cual hay un formulario para ingresar lso datos de la sinopsis

    nota: esta siemrpe sera la primera seccion cunado se edite o cree una produccion
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/layout.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="../css/editProductionsDashboardHeader.css">
    <link rel="stylesheet" href="../css/editProductionDashboardSinopsis.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="containerLayout">
        <%- include('./layout/index.ejs') %>
    </div>
    <div class="infoDashboard">
        <div>
            <%- include('./partials/productionsDashboardCreateAndEdit.ejs') %>
        </div>

        <!-- Agregar sinopsis-->
        <form action="">
            <div class="containerForm">
                <div class="titleDescription">
                    Sinopsis
                </div>
                <div class="optionFormProduction">
                    <p>Nombre</p>
                    <input type="text" name="nombre" id="video">
                </div>
                <div class="optionFormProduction">
                    <p>Imagen principal:</p>
                    <label for="imgProduction">
                        <img class="addImg" src="../images/icoAddImgForm.svg" alt="">
                        <span>inserta imagen</span>
                    </label>
                    <input type="file" name="mainImage" id="imgProduction">
                </div>
                <div class="optionFormProduction">
                    <p>url:</p>
                    <input type="url" name="video" id="video" >
                </div>
                <div class="optionFormProduction">
                    <p>Idioma</p>
                    <select name="Plantilla" id="plantilla">
                        <option value="">Plantilla 1</option>
                        <option value="">Plantilla 2</option>
                    </select>
                    
                </div>
                <div class="optionFormProduction">
                    <p>Plantilla</p>
                    <select name="Plantilla" id="plantilla">
                        <option value="">Plantilla 1</option>
                        <option value="">Plantilla 2</option>
                    </select>
                    
                </div>

                <div class="optionFormProduction">
                    <p>Descripción:</p>
                    <textarea  name="Descipcion" id="description" cols="30" rows="10"></textarea>
                    
                </div>
                
                <div class="submit">
                    <input type="submit" value="enviar">
                </div>
            </div>        
        </form>

    </div>
    </body>
</html>