<!--  
    Documento creado para la secciones de editar las producciones del dashboard,
    Aque podran ver a los personajes de la produccion.
-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/layout.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="../css/editProductionsDashboardHeader.css">
    <link rel="stylesheet" href="../css/productionsDashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="containerLayout">
        <%- include('./layout/index.ejs') %>
    </div>
    <div class="infoDashboard">
        <div>
            <%- include('./partials/productionsDashboardCreateAndEdit.ejs') %>
        </div>

        <div class="containerProductions">
            <div class="newProductions">
                <a href="/dashboard/editarProduccionPersonajes"><img src="../images/icoAddProduction.svg" alt=""></a>
            </div>
            <div class="titleProductions">Personajes</div>
            <div class="contentProductions">
                <div class="infoProduction">
                    <img src="../images/BANACUACO Banner Youtube 2022 web.jpg" alt="">
                    <div class="icons">
                        <div class="iconsImgEdit">
                            <a href="/dashboard/editarProduccionPersonajes"><img src="../images/editCrud.svg" alt="" > </a>
                        </div>
                        <div class="iconsImgDelete">
                            <img src="../images/deleteCrud.svg" alt=""  onclick="deleteAlert()">
                        </div>
                    </div>
                    <p>fdsfdfdfdfdfsd</p>
                    
                </div>
            </div>
        </div>
    </div>
    </body>
</html>


<script src="../js/general/addAlertModal.js"></script>
<script type="module" src="../js/general/modules/headerAndsocialMedia.mjs"></script>