<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/layout.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="../css/indexDashboard.css" />
    <title>Dashboard</title>
	<style>
    	ol{
        	list-style-position: inside;
    	}
	</style>
</head>
<body>
    <div class="containerLayout">
        <%- include('./layout/index.ejs') %>
    </div>
    <div class="infoDashboard">
        <div class="textWelcome">
            <h4>Hola <%= user %>! <img src="../images/waving-hand_1f44b.png" style="width: 32px;"></h4>
            <p>Este es el Dashboard de <b>Banacuaco</b></p>
        </div>
        <div class="imgHome">
            <p>Ac치 podr치s crear, editar y eliminar las <a href="/dashboard/productions">producciones</a>, los <a href="/dashboard/premieres">estrenos</a>,las <a href="/dashboard/galery">imagenes</a> de la galer칤a y los <a href="/dashboard/usuarios">usuarios</a></p><br>
            <p style="margin-top: 3%;">Si deseas ver las estadisticas de tr치fico del sitio web puedes hacerlo siguiendo estos pasos:</p><br>
            <ol>
                <li>Entra al siguiente link: <a href="https://191.101.233.119:10000">BanacuacoServer</a></li>
                <li>Inicia sesi칩n con tus datos</li>
                <li>Haz click en la secci칩n de <b>"Logs and Report"</b></li>
                <li>Haz click en la secci칩n de <b>"AWStats Report"</b></li>
                <li>Y listo, as칤 de sencillo es 游땔</li>
            </ol>
        </div>
    </div>
</body>
</html>