<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/layout.css" rel="stylesheet" type="text/css" media="all">
    <link href="../css/newUserDashboard.css" rel="stylesheet" type="text/css" media="all">
    <title>Dashboard</title>
</head>
<body>
    <div class="containerLayout">
        <%- include('./layout/index.ejs') %>
    </div>
    <div class="infoDashboard">
        <div class="containerNewUser">
            <form action="/dashboard/usuarios/create" method="post" enctype="application/x-www-form-urlencoded">
                <div class="contentNewUser">
                    <div class="titleNewUser">
                        Crear nuevo usuario
                    </div>
                    <div class="userName">
                        <input type="text" name="user" id="userName" placeholder="Usuario">
                    </div>
                    <div class="userPassword">
                        <input type="password" name="password" id="passwName" placeholder="Contraseña">
                    </div>
                    <div class="submit">
                        <input type="submit" value="Crear" id="sendUser">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>