<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/layout.css" rel="stylesheet" type="text/css" media="all">
    <title>Dashboard</title>
</head>
<body>
    <div class="containerLayout">
        <%- include('./layout/index.ejs') %>
    </div>
    <div class="infoDashboard">
        <div class="containerProductions">
            <div class="newProductions">
                <img src="../images/icoAddGalery.svg" alt="">
            </div>
            <div class="titleProductions">Producciónes</div>
            <div class="contentProductions">
                <div class="infoProduction">
                    <img src="../images/BANACUACO Banner Youtube 2022 web.jpg" alt="">
                    <p>fdsfdfdfdfdfsd</p>
                    <div class="iconsImg">
                        <img src="../images/deleteCrud.svg" alt="">
                        <a href="#"><img src="../images/editCrud.svg" alt="" > </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>