<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">

    <style>
        @charset "utf-8";

        @font-face {
            font-family: "arnold";
            src: url("../fonts/arnold-21_[allfont.es].ttf");
        }

        @font-face {
            font-family: "roboto-bold";
            src: url("../fonts/Roboto/Roboto-Bold.ttf");
        }


        #alertModal{
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-color: #33333330;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
        }
    
        .containerAlert{
            background-color: #FFF;
            width: 88%;
            max-width: 480px;
            border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
        }

        .contentInfo{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    
        .contentInfo img{
            width: 33%;
            height: auto;
        }
    
        .textInfo{
            width: 60%;
            padding: 18px 18px 0 0;
        }

        .titleAlert{
            font-size: 30px;
            font-weight: bold;
            text-align:right;
            margin-bottom: 25px;
            line-height: 1.5;
            color: #B73310;
            font-family: "arnold";
        }

        .descriptionText{
            font-size: 16px;
            text-align:right;
            line-height: 1.5;
            color: #707070;
            font-family: "roboto-bold";
        }

        .containerAlertButtons{
            width: 100%;
            padding: 16px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            box-sizing: border-box;
        }

        .AlertButtons{
            padding: 8px 18px;
            border-radius: 20px;
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
            color: #FFF;
            font-size: 18px;
            border: none;
            cursor: pointer;
            font-family: "roboto-bold";
        }

        .buttonCancel{
            background-color: #FFBD00;
            display:block ;
        }


        .buttonDelete{
            background-color: #B73310;
            margin-left: 25px;
        }
    </style>
</head>
<body>
    <div id="alertModal">
        <div class="containerAlert">
            <div class="contentInfo">
                <img src="../images/deleteAlert.svg" alt="eliminar">
                <div class="textInfo">
                    <div class="titleAlert">Eliminar</div>
                    <div class="descriptionText">¿Estas seguro que quieres eliminar?</div>
                </div>
            </div>
            <div class="containerAlertButtons">
                <div class=" AlertButtons buttonCancel" onclick="cancelar()">Cancelar</div>
                <div class="AlertButtons  buttonDelete" onclick="eliminar()">Eliminar</div>
            </div>
        </div>
    </div>

</body>
</html>