<!--
- Fecha de creación:  5/12/2022
- Por: Adrian camilo guerra polo
- El estilo se toma del archivo productionEspc2.css
- Html para una produccion en especifico.
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Produccion</title>

    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/productionEspc2.css" />
    
</head>
<body>

    <header-banacuaco languaje="/en"></header-banacuaco>

    <div class="containerProduction">
        <div class="imgHome">
            <img src="../images/Logotipo Los Cuentos del Abuelo.png" alt="" />
        </div>

        <div class="titleCharacters">
            <h3>Sinopsis</h3>
        </div>


        <div class="txt">
            <p>una niña antes de dormir le pide a su abuelito que le cuente una historia. El abuelo herramienta online gratuita te permit le pregunta por sus vivencias del día, la pequeña le cuenta algún problema o
                dificultad que experimentó durante ese día que tienen que ver con su cotidianidad en el colegio, en el barrio o en casa. El abuelito con su experiencia le cuenta historias como cuentos, anécdotas de su vida, leyendas o chistes, cada una con su respectiva moraleja que le ayudan a la pequeña a implementar la creatividad en la resolución de conflictos y desarrollar valores.</p>
        </div>

        <div class="containerInfoServices">
            <div class="backgraund">
                <div class="content">
                    <div class="imgService">
                        <video src="https://carontestudio.com/img/f4.mp4" autoplay="true"></video>
                    </div>
                </div>
            </div>         
        </div>
        
        <div class="characters">
            <div class="titleCharacters">
                <h3>Personajes</h3>
            </div>
            <div class="imgInit">
                <img src="../images/Grupo - Bocetos 2 fondo blanco.jpg" alt="">
                <img src="../images/Grupo - Bocetos 3 fondo blanco nombres.jpg" alt="">
            </div>
            <div class="txt">
                <p>En un principio, el abuelo y su nieto Kenechu serían de la comunidad indígena de los Kogui y Úrsula sería una Wayuú. Sin embargo el proceso de investigación para adecuar el comportamiento de estos personajes a la realidad de esas comunidades tomaría mucho tiempo y se necesitaba dar inicio a la producción. Por este motivo y por respeto a esos grupos indígenas se decidió crear unas comunidades ficticias. La del abuelo y el Kenechu se llamaría "Los Chatakunes" y la de Úrsula sería los "Yuguakos".</p>
            </div>
        </div>
    <div class="containercharacters">
        <div class="charactersEscp">
            <div class="imgcharactersEscp">
                <img src="../images/Katamaku.jpg" alt="">
            </div>
            <div class="containertxt">
                <div class="txtName">
                    <h3>Abuelito peyo</h3>
                </div>
                <div class="charactersContent">
                    <p>Es un viejito indígena muy sabio, pacífico, amable, de hablar pausado, cargado de historias, cuentos y anécdotas interesantes.
                        Perteneciente a una comunidad indígena ficticia llamada "Los Chatakunes". Su nombre significa "Sol" en la lengua de su comunidad.</p>
                </div>
            </div>
        </div>

        <div class="charactersEscp">
            <div class="imgcharactersEscp">
                <img src="../images/Katamaku.jpg" alt="">
            </div>
            <div class="containertxt">
                <div class="txtName">
                    <h3>Abuelito peyo</h3>
                </div>
                <div class="charactersContent">
                    <p>Es un viejito indígena muy sabio, pacífico, amable, de hablar pausado, cargado de historias, cuentos y anécdotas interesantes.
                        Perteneciente a una comunidad indígena ficticia llamada "Los Chatakunes". Su nombre significa "Sol" en la lengua de su comunidad.</p>
                </div>
            </div>
        </div>

        <div class="charactersEscp">
            <div class="imgcharactersEscp">
                <img src="../images/Katamaku.jpg" alt="">
            </div>
            <div class="containertxt">
                <div class="txtName">
                    <h3>Abuelito peyo</h3>
                </div>
                <div class="charactersContent">
                    <p>Es un viejito indígena muy sabio, pacífico, amable, de hablar pausado, cargado de historias, cuentos y anécdotas interesantes.
                        Perteneciente a una comunidad indígena ficticia llamada "Los Chatakunes". Su nombre significa "Sol" en la lengua de su comunidad.</p>
                </div>
            </div>
        </div>

        <div class="charactersEscp">
            <div class="imgcharactersEscp">
                <img src="../images/Katamaku.jpg" alt="">
            </div>
            <div class="containertxt">
                <div class="txtName">
                    <h3>Abuelito peyo</h3>
                </div>
                <div class="charactersContent">
                    <p>Es un viejito indígena muy sabio, pacífico, amable, de hablar pausado, cargado de historias, cuentos y anécdotas interesantes.
                        Perteneciente a una comunidad indígena ficticia llamada "Los Chatakunes". Su nombre significa "Sol" en la lengua de su comunidad.</p>
                </div>
            </div>
        </div>
    </div>



    



                <div class="containerGalery">
                    <div class="title">
                        <p>Fondo</p> 
                    </div> 
                    <div class="txtGalery">
                        <p>Esta historia ocurre "en la sierra nevada de santamarta", region norte de colombia.</p>
                    </div>                    
                    <div class="contentGalery">
                        <div class="infoGalery">
                        <img src="../images/Ilustración-1.jpg" alt="">
                    </div>                 
                        <div class="infoGalery">
                            <img src="../images/Ilustración-2.jpg" alt="">
                        </div>                 
                        <div class="infoGalery">
                            <img src="../images/Ilustracion-3.jpg" alt="">
                        </div>                 
                        <div class="infoGalery">
                            <img src="../images/Ilustración-4.jpg" alt="">
                        </div>                
                        <div class="infoGalery">
                            <img src="../images/Ilustracion-5.jpg" alt="">
                        </div>                
                        <div class="infoGalery">
                            <img src="../images/Ilustración-7.jpg" alt="">
                        </div>  
                        <div class="infoGalery">
                            <img src="../images/Ilustración-11.jpg" alt="">
                        </div>                    
                    </div>
                </div>      


                <div class="containerGalery">
                    <div class="txtGalery">
                        <p>Finca donde vivia juaquin con su familia.</p>
                    </div>                    
                    <div class="contentGalery">
                        <div class="infoGalery">
                        <img src="../images/Ilustración-1.jpg" alt="">
                    </div>                 
                        <div class="infoGalery">
                            <img src="../images/Ilustración-2.jpg" alt="">
                        </div>                 
                        <div class="infoGalery">
                            <img src="../images/Ilustracion-3.jpg" alt="">
                        </div>                 
                        <div class="infoGalery">
                            <img src="../images/Ilustración-4.jpg" alt="">
                        </div>                                   
                    </div>
                </div>  
        
            <div class="containerGalery">
                <div class="txtGalery">
                    <p>El pueblo y la casa donde vive candelaria</p>
                </div>                    
                <div class="contentGalery">
                    <div class="infoGalery">
                    <img src="../images/Ilustración-1.jpg" alt="">
                </div>                 
                    <div class="infoGalery">
                        <img src="../images/Ilustración-2.jpg" alt="">
                    </div>                 
                    <div class="infoGalery">
                        <img src="../images/Ilustracion-3.jpg" alt="">
                    </div>                 
                    <div class="infoGalery">
                        <img src="../images/Ilustración-4.jpg" alt="">
                    </div>  
                    <div class="infoGalery">
                        <img src="../images/Ilustración-4.jpg" alt="">
                    </div>                                  
                </div>
            </div> 
    
            <div class="containerGalery">
                <div class="title">
                    <p>Fauna</p> 
                </div> 
                <div class="contentGalery">
                    <div class="infoGalery">
                    <img src="../images/Ilustración-1.jpg" alt="">
                </div>                 
                    <div class="infoGalery">
                        <img src="../images/Ilustración-2.jpg" alt="">
                    </div>                 
                    <div class="infoGalery">
                        <img src="../images/Ilustracion-3.jpg" alt="">
                    </div>                 
                    <div class="infoGalery">
                        <img src="../images/Ilustración-4.jpg" alt="">
                    </div>                
                    <div class="infoGalery">
                        <img src="../images/Ilustracion-5.jpg" alt="">
                    </div>                
                    <div class="infoGalery">
                        <img src="../images/Ilustración-7.jpg" alt="">                    
                </div>
            </div> 


        <div class="containerGalery">
            <div class="title">
                <p>Ilustraciones cuento</p> 
            </div> 
            <div class="contentGalery">
                <div class="infoGalery">
                <img src="../images/Ilustración-1.jpg" alt="">
            </div>                 
                <div class="infoGalery">
                    <img src="../images/Ilustración-2.jpg" alt="">
                </div>                 
                <div class="infoGalery">
                    <img src="../images/Ilustracion-3.jpg" alt="">
                </div>                 
                <div class="infoGalery">
                    <img src="../images/Ilustración-4.jpg" alt="">
                </div>                
                <div class="infoGalery">
                    <img src="../images/Ilustracion-5.jpg" alt="">
                </div>                
                <div class="infoGalery">
                    <img src="../images/Ilustración-7.jpg" alt="">                    
            </div>
        </div>

        <social-banacuaco></social-banacuaco>

        <div class="nomatividad">
            <p>Nomatividad</p>
        </div>

    </div>
</body>
</html>

<!--
    alerta modal
-->
<script type="text/javascript" src="../js/general/es-en.js"></script>

<script type="text/javascript" src="../js/general/closeMenu.js"></script>
<script src="../js/general/addAlertModal.js"></script>
<script type="module" src="../js/general/modules/headerAndSocialMedia.mjs"></script>