@font-face {
    font-family: "arial-Rounded";
    src: url("../fonts/arlrdbd.ttf");
}

@font-face {
    font-family: "roboto-regular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "arnold";
    src: url("../fonts/arnold-21_[allfont.es].ttf");
}


.textWelcome h4{
    padding-top: 5%;
    text-align: center;
    color: #3C3C3C; ;
    font-family: "roboto";
    font-size: 32px;
}

.textWelcome p{
    text-align: center;
    padding-right: 32px;
}

.imgHome {
    padding:5%;
    width: 100%;
    text-align: center;
}

.imgHome a{
    color: black;
    font-weight: bold;
    text-decoration-line: underline;
}

li{
    margin-top: 3px;
}

@media screen and (max-width: 902px) {
    .textWelcome h4{
        margin-bottom: 40px;
    }
}
