@font-face {
    font-family: "arnold";
    src: url("../fonts/arnold-21_[allfont.es].ttf");
}
@font-face {
    font-family: "arial-Rounded";
    src: url("../fonts/arlrdbd.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto-regular", sans-serif;
    text-decoration: none;
    color: #333; /*color de textos*/
    
}

/*Seccion de Nosotros*/
.containerUS{
    margin-top: 30px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.titleUs{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 70px;
}

.titleUs h3{
    font-family: "arnold";
    color:#653392;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 3px;
}

.contentUs{
    background-color: #FEBD00;
    border-radius: 0px 50px 50px 0px;
    height: 290px;
    display: flex;
    align-items: center;
}

.usText{
    text-align: center;
    width: 70%;
    margin: auto;

}

.usText h3{
    font-family: "arnold";
    color:#653392;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 100;
    letter-spacing:3px;
    text-align: center;
}

.usText p{
    font-size: 20px;
    color: #000000;
    font-family: "arial-Rounded";
    width: 75%;
    text-align: justify;
    margin: auto;
}

.imgUs{
    background: #FEBD00;
    border-radius: 360px;
    height: 300px;
    width: 300px;
    text-align: center;
    margin-right: 5%;
    margin-left: auto;
}

.imgUs img{
    height: 300px;
    
}

/*Seccion de historia*/

.history{
    margin-bottom: 50px;
    overflow: hidden;
    display: flex;
    padding: 0 5%;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 3%;
    
}

.description{
    color: #0000;
    font-family: "arial-Rounded";
    text-align: justify;
    width: 325px;
    height: 120px;
    margin-bottom: 10px;
}


.description p{
    font-size: 18px;
    line-height: 25px;
    font-family: "arial-Rounded";
    letter-spacing: 0px;
}

.imgHistory{
    height: 336px;

}
.imgHistory img{
    height: 236px;
    width: 325px;
    border-radius: 35px;
    margin-top: 10px;
    box-shadow: 10px 10px 0px 0px #00000040;
}

/*Seccion de equipo*/
.ourTeam{
    margin-top: 20px;
    background-color: #FFBD00;
    width: 100%;
    display: flex;
    padding: 0 5%;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 3%;
    row-gap: 30px;
    
}

.BackgroundTeam{
    background-color: #FEBD00;
    padding-top: 3%;
}
.containerTeam{
    margin-bottom: 20px;   
}

.titleTeam h3{
    text-align: center;
    font-size: 40px;
    font-family: "arnold";
    color: #653392;
    padding-bottom: 1%;
    font-weight: 100;
    letter-spacing: 3px ;
}

.imgTeam img{
    border-radius: 360px;
    width: 258px;
    height: 258px;
    box-shadow: 6px 6px 0px 0px #DB8902;
}

.textTeam{   
    text-align: center;
    line-height: 15px;
}

.textTeam p{
    font-size: 18px;
    margin-top: 10px;
    color: #653392;
    font-family: "arial-Rounded";
}

/*Seccion de mision y valor */

.containerMision{
    margin-top: 30px;
    width: 100%;
}

.textMision p{
    font-family: "arial-Rounded";
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}


/*seccion de premios y distinciones*/

.containerAwards{
    height: 350px;
    width: 100%;
    overflow: hidden;
}

.elipse{
    background-color: #FEBD00;
    border-radius: 50% 50% 0 0;
    width: 110%;
    height: 900px;
    padding-bottom: 109px;
    margin-left: -5%;
    margin-right: -5%;
}

.InfoElipse{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    justify-content: center;
    height: 350px;
    row-gap: 53px;

}

.titleAwards h3{
    color: #653392;
    font-family: "arnold";
    font-size: 40px;
    text-align: center;
    font-weight: 100;
    letter-spacing: 3px;
}

.textAwards p{
    font-size: 20px;
    font-family: "arial-Rounded";
    text-align: justify;
    margin: auto;
    width: 60%;
}

.nomatividad p{
    
    text-align: center;
    color: #000;
    padding-top: 40px;
    padding-bottom: 15px;
    font-family: "arial-Rounded";
}

.normativity p{
    background-color: #FFBD00;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "arial-Rounded";
}

@media screen and (max-width:1120px) {

.contentUs {
    width: 55%;
}
.usText p {
    width: 67%;
}

.titleAwards h3 {
    width: 80%;
    margin: auto;
    letter-spacing: 0px;
}


.textAwards p{
    font-size: 18px;
    width: 80%;
    padding: 0 5%;
}

    
.usText h3 {
    text-align: justify;
    width: 100%;
    font-size: 40px;
    letter-spacing: 0;
}
        
.usText p {
    width: 100%;
}

}
@media screen and (max-width: 768px) {

.containerUS{
    background-color: #FEBD00;  
}
.contentUs {
    width: 100%;
}

.imgUs{
    display: none;
}

.usText h3 {
    text-align: center;
    width: 100%;
}
    
.usText p {
    text-align: center;
}
.elipse{
    height: 350px;
}

.InfoElipse{
    width: 90%;
}
.titleAwards h3 {
    width: 70%;
    margin: auto;
    letter-spacing: 0px;
}

.titleAwards h3{
    font-size: 40px;
}
.textAwards p{
    font-size: 18px;
    width: 70%;
    padding: 0 5%;
}
.titleUs h3 {
    font-size: 40px;
}
.textMision p {
    font-size: 20px;
}

}
