@font-face {
    font-family: "arial-Rounded";
    src: url("../fonts/arlrdbd.ttf");
}

@font-face {
    font-family: "roboto-regular";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "arnold";
    src: url("../fonts/arnold-21_[allfont.es].ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto-regular', sans-serif;
    text-decoration: none;
    
}

body{
    /** background-color: ; */
    margin: 0;
    padding: 0;
    background-color: #F8F9FB;
}

.containerProductions{
    width: 100%;
    height: auto;
    padding: 5% 5% 0 5%;
}

.newProductions{
    position: fixed;
    /*top: calc(80px + 5%);*/
    right: 3%;
    z-index: 10000;
}

.newProductions img{
    height: 40px;
    width: 40px;
}

.titleProductions{
    text-align: center;
    padding-bottom: 5%;
    color: #005E9B;
    font-family: "arnold";
    font-size: 40px;
}

.contentProductions{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: 60px;
}

.infoProduction{
    height: 11vw;
    width: 14vw;
    position: relative;
    transition: 0.3s;
    box-shadow: -6px 7px 11px 2px #b3b4b3ed;
    border-radius: 27px;
}

.infoProduction img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.infoProduction:hover{
    transition: 0.3s;
    transform: scale(1.05);
}

.infoProduction p{
    color: #007F10;
    font-size: 16px;
    text-align: center;
    font-family: "arial-Rounded";
    width: 80%;
    margin: 15px  auto;
    margin-top: 1vw;
}

.icons{
    display: flex;
    margin-top: -20%;
    justify-content: space-between;
    padding: 0 5%;
}

.iconsImgEdit,
.iconsImgDelete{
    background: #00000060;
    z-index: 100;
    position: relative;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.iconsImgEdit:hover,
.iconsImgDelete:hover{
    background-color: #000000;
}

.iconsImgEdit img,
.iconsImgDelete img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

@media screen and (max-width: 1650px) {
    .infoProduction{
        height: 16vw;
        width: 19vw;
        position: relative;
        transition: 0.3s;
        box-shadow: -6px 7px 11px 2px #b3b4b3ed;
        border-radius: 27px;
    }

    .infoProduction p {
        margin: auto;
        margin-top: 1.9vw;
    }
}

@media screen and (max-width: 902px) {
    .newProductions{
        bottom: 5%;
        z-index: 10000;
    }
}