@charset "utf-8";

@font-face {
    font-family: "arnold";
    src: url("../fonts/arnold-21_[allfont.es].ttf");
}

@font-face {
    font-family: "roboto-bold";
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto-regular", sans-serif;
    text-decoration: none;
    color: #333; /*color de textos*/
}

.containerProduction{
    margin-top: 50px;
    overflow: hidden;

}

.imgHome{
    width: 100%;
    text-align: center;
}

.imgHome img{
    height: 100%;
    width: 30%;
    object-fit: cover;
    
}

.title p{
    color: #b73310;
    font-family: "arnold";
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.textSinopsis p{
    font-size: 18px;
    font-family: "roboto-bold";
    width: 100%;
    text-align: justify;
    padding: 0 5%;
    color:#333;
    line-height: 1.5;
}

.fondo img{
    width: 105%;
    height: 380px;
    margin-left: -2%;
}
.backgraund{
    margin-top: 100px;
    height: 100%;

}
.franjaServices{
    margin-top: 100px;
    background-color: #FFBD00;
    transform: rotate(5deg);
    width: 112%;
    margin-left: -6%;
    padding: 1%;  
}

.imgService{
    text-align: center;
    
}
.imgService video{
    width: 350px;
    border-radius: 60px;
    box-shadow: 12px 8px 1px 0px #B9860A;
}


.titleCharacters h3{
    color: #b95e22;
    font-family: "arnold";
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.imgInit {
    display: flex;
    padding: 0 5%;
    width: 100%;

}

.imgInit img{
    width: 90%;
    margin: auto;
}


.txt p{
    font-size: 18px;
    font-family: "roboto-bold";
    width: 100%;
    text-align: justify;
    padding: 0 5%;
    color: #333;
    line-height: 1.5;
    margin-top: 50px;
}


.containercharacters{
    margin-top: 50px;
    padding: 0 5%;
}
.charactersEscp{
    
    display: flex;
    padding-bottom: 5%;
    column-gap: 50px;

}

.imgcharactersEscp img{
    width: 100%;
    height: 100%;
}



.txtName h3{
    font-family: "arnold";
    color: #b95e22;
    font-size: 42px;
    margin-bottom: 20px;    
}

.charactersContent p{
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    font-family: "roboto-bold";
}

.containerGalery{
    margin-top: 30px;
    overflow: hidden;
}

.containerMoreInfo{
    padding: 0 5%;
}
.title p{
    font-family: "arnold";
    color: #b95e22;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    padding: 0 5%;
}

.contentGalery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
    row-gap: 50px;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}

.infoGalery{
    width: 100%;
    
}

.infoGalery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


.txtGalery p{
    font-size: 18px;
    font-family: "roboto-bold";
    width: 100%;
    text-align: center;
    padding: 0 5%;
    color: #333;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
}


@media screen and ( min-width: 768px) and (max-width: 1023px){
    /*galeria*/
    .contentGalery{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    /***/
    .imgInit img {
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    /*galeria*/
    .contentGalery{
        display: grid;
        grid-template-columns: 1fr;
    }
    /***/
    .imgHome img {
        width: 60%;
        
    }
    .txt p {
        font-size: 16px;      
    }
    .imgService video {
        width: 300px;
    }

    .imgInit img {
        width: 100%;
    }
    .imgInit {
        flex-direction: column;
    }

    .charactersEscp {
        
        flex-direction: column-reverse;
    }

    .imgcharactersEscp img {
        padding-top: 5%;
    }

}


.nomatividad p{
    
    text-align: center;
    color: #000;
    padding-top: 40px;
    padding-bottom: 15px;
    font-family: "roboto-bold";
}