@charset "utf-8";

@font-face {
    font-family: "arnold";
    src: url("../fonts/arnold-21_[allfont.es].ttf");
}


@font-face {
    font-family: "arial-Rounded";
    src: url("../fonts/arlrdbd.ttf");
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto-regular", sans-serif, "arial-Rounded";
    text-decoration: none;
    color: #333; /*color de textos*/
}


.containerProduction{
    margin-top: 50px;
    overflow: hidden;

}

/*Seccion sinopsis*/

.imgHome{
    width: 100%;
    text-align: center;
}

.imgHome img{
    height: 100%;
    width: 30%;
    object-fit: cover;
    
}

.title p{
    color: #b73310;
    font-family: "arial-Rounded";
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.textSinopsis p{
    font-size: 18px;
    font-family: "arial-Rounded";
    width: 100%;
    text-align: justify;
    padding: 0 5%;
    color:#333;
    line-height: 1.5;
}

/** seccion franja con el video*/

.franjaServices{
    margin-top: 100px;
    width: 112%;
    margin-left: -6%;
    padding: 3%;  
    background-color: #FFBD00;
}

.contentInfo{
    width: 100%;
    margin: auto;
}

.deg{
    margin-top: 5px;
    transform: rotate(0deg);
}

.imgService{
    text-align: center;
}
.imgService iframe{
    width: 350px;
    border-radius: 30px;
    box-shadow: 8px 8px 0px 0px #DB8902;
}


/**Seccion idea */
.idea h3{
    color: #b73310;
    font-family: "arial-Rounded";
    font-size: 42px;
    text-align: center;
    margin-top: 40px;
}

.imgidea{
    display: flex;
    padding: 0 5%;
    height: 500px;
}

.imgidea img{
    width: 100%;
    height: 100%;
}

/*Seccion personajes*/
.containerCharacters{
    margin-top: 100px;
    width: 100%;  
}
.textInfo{
    width: 100%;
}

.titleChart{
    margin-bottom: 20px;
}
.titleChart h3{
    font-family: "arnold";
    color: #4b1f03;
    text-align: center;
    font-size: 42px;
    background-color: #FFBD00;
    padding: 1% 0;
}
.imgChart{
    width: 100%;
    display: flex;
    column-gap: 10px;
    height: 100%;
    justify-content: space-evenly;
    margin-bottom: 2%;
}

.comlunImg img{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 205px;
    margin: 5px;
}

.fleximg img{    
    width: 297px;
    margin: 5px;
}

.containerDescriptionA{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    column-gap: 20px;
    margin-bottom: 20px;
    flex-direction: column;
}
.imgA{
    display: flex;
    justify-content: center;
    column-gap: 15px;
    flex-wrap: wrap;
    height: 100%;
}

.imgA img{
    width: 30%;
    margin: 5px;
}

.contentDescriptionA {
    width: 50%;
}

.txtA h3{
    font-family: "arnold";
    color:#bb5a56;
    font-size:42px;
    margin: 20px 0;
    text-align: center;
}

.contentA {
    width: 70%;
    padding: 2% 0;
}

.contentA p{
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    font-family: "arial-Rounded";
    color: #000000;
}


.imgAFondo img{
    width: 100%;
    margin-bottom: 1%;
    padding: 0 5%;
    object-fit: cover;
}


/* Secciones de galeria para produciones especificas*/
.containerGalery{
    margin-top: 30px;
    overflow: hidden;
}

.containerMoreInfo{
    padding: 0 5%;
}
.title p{
    font-family: "arnold";
    color: #bb5a56;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}

.contentGalery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    max-width: 1300px;
}



.infoGalery img{
    width: 300px;
    height: 100%;
    object-fit: cover;
    
}


@media screen and ( min-width: 768px) and (max-width: 1023px){
    /***/
    .imgidea {
        height: 100%;
        flex-direction: column;
    }
    .franjaServices{
    width: 146%;
    margin-left: -23%;
    }
    .titleChart {
        padding-right: 0;
        
    }
    .titleChart h3{
        text-align: center;       
    }
    .imgChart {
        display: block;
    }  
    
    .comlunImg img {
        display: inline;
        width: 300px;
        height: 200px;

    }  
    .fleximg{
        display: inline;
    }     

    .contentA p {
        padding: 0 5%;
    }


    .textInfo{
        width: 100%;
        text-align:center;
    }
    .containerDescriptionA {   
        flex-direction: column;
    }

    .imgA img {
    width: 300px;       
    margin: auto;
    padding-bottom: 10px;
    padding-top: 20px;

    }
    .fleximg img {
        width: 300px;
    } 
    .contentDescriptionA {
        margin-top: 5%;
        width: 70%;
    }

}

@media screen and (min-width: 280px) and (max-width:  900px){
    /*galeria*/
    .contentGalery{
        display: grid;
        grid-template-columns: 1fr;
    }
    /***/

    .imgService iframe {
        width: 300px;
    }

    .franjaServices{
    width: 200%;
    margin-left: -50%;
    padding: 6%;
    }
    .imgHome img {
        width: 60%;
    }
    .textSinopsis p {
        font-size: 16px;
        
    }


    .imgService img {
        width: 300px;
    }

    .infoGalery{
        display: flex;
        justify-content: center;
    }

    .imgidea {
        height: 100%;
        flex-direction: column;
    }


    .titleChart {
        padding-right: 0;
        
    }
    .titleChart h3{
        text-align: center;       
    }

    .imgChart {
        flex-direction: column;
        justify-content: space-around;
    }     
    .comlunImg{
        margin: auto;
    }
    .comlunImg img {       
        width: 300px;
    }

    .textInfo{
        width: 100%;
        text-align:center;
    }
    .containerDescriptionA {   
        flex-direction: column;
    }
    
    .imgA img {
    width: 300px;       
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;

    }
    .fleximg{

        flex-direction: column;
        display: flex;
    } 
    .fleximg img {
        width: 300px;
        margin: auto;
        padding-bottom: 10px;
        padding-top: 10px;
    } 

}

.nomatividad p{
    
    text-align: center;
    color: #000;
    padding-top: 40px;
    padding-bottom: 15px;
    font-family: "roboto-bold";
}