<!-- 
    Archivo para la secciòn de servicios
    Creado por: Juan José Arteta Maury
    Fecha: 21/11/2022
    
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Contacto</title>
    <link href="./css/sevicios.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="../css/redesSociales.css">
</head>
<body>
    <header-banacuaco languaje=<%= idiom%>></header-banacuaco>

    <div class="containerContact">
        <div class="titlecontact">CONTACT US</div>

        <form action="/<%= idiom%>/contacto" method="POST">
            <div class="containerForm">
                <div class="optionsForm">
                    <p>Name:</p>
                    <input type="text" name="nombre">
                </div>
                <div class="optionsForm">
                    <p>E-mail:</p>
                    <input type="text" name="emails" >
                </div>
                <div class="optionsFormMessaje">
                    <p>Message:</p>
                    <textarea name="mensaje" id="" cols="30" rows="10"></textarea>
                </div>

                <div class="contentSend">
                    <div class="buttonSend">
                        <button type="submit" value="Save"> Enviar</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="normativity">
            <p>nomatividad</p>
        </div>
    <social-banacuaco></social-banacuaco>
</body>

</html>

<script type="text/javascript" src="../js/general/closeMenu.js"></script>

<!--
    alerta modal
-->
<script type="text/javascript" src="../js/general/es-en.js"></script>
<script src="../js/general/addAlertModal.js"></script>
<script type="module" src="../js/general/modules/headerAndsocialMedia.mjs"></script>