<!--
- Fecha de creación:  21/11/2022
- Por: Adrian camilo guerra polo
- El estilo se toma del archivo nosotros.css
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Nosotros</title>

    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/nosotros.css" />
</head>
<body>
    <header-banacuaco languaje=<%= idiom%>></header-banacuaco>

    <div class="titleUs">
        <h3>About Us</h3>
    </div>
    <section class="containerUS">
        <div class="contentUs">
            <div class="usText">
                <h3>About us?</h3>
                <p>
                    A company that produces cartoons focused on children
                </p>
            </div>
        
        </div>
        <div class="imgUs">
            <img src="../images/Abuelo Katamaku.png" alt="" />
        </div>
    </section>

    <div class="titleUs">
        <h3>History</h3>
    </div>

    <section class="history">
        <div class="containerHistory">
            <div class="description">
            <p>
                One day the spirit of art and the mother of creativity met, fell in love and decided to have a child.
            </p>
            </div>
            <div class="imgHistory">
                <img src="../images/La hermanita de Juaquin-2.jpg" alt="" />
            </div>
        </div>

        <div class="containerHistory">
            <div class="description">
                <p>
                    They called that creature: "BANACUACO" and they gave it the important mission of telling stories to humans that impact their lives.
                </p>
            </div>
            <div class="imgHistory">
                <img src="../images/La hermanita de Juaquin-17.jpg" alt="" />
            </div>
        </div>

        <div class="containerHistory">
            <div class="description">
            <p>
                And so the company BANACUACO was born, in charge of traveling the world telling stories.
            </p>
            </div>
            <div class="imgHistory">
            <img src="../images/La ceremonia artistica-7.jpg" alt="" />
            </div>
        </div>
    </section>
    <div class="BackgroundTeam">
        <div class="titleTeam">
            <h3>Our team</h3>
        </div>
        <section class="ourTeam">
            <div class="containerTeam">
                <div class="imgTeam">
                    <img src="../images/El Cuenta historias - color_Ajustes.jpg" alt="" />
                </div>
                <div class="textTeam">
                    <p>Vanesa Bendenk</p>
                    <p>CEO</p>  
                    <p>Executive producer</p>
                </div>
            </div>
    
            <div class="containerTeam">
                <div class="imgTeam">
                    <img src="../images/El observador - color_Ajustes.jpg" alt="" />
                </div>
                <div class="textTeam">
                    <p>Karlo Julio</p>
                    <p>Animation Director</p>
                </div>
            </div>

            <div class="containerTeam">
                <div class="imgTeam">
                    <img src="../images/Coloreada-2.jpg" alt="" />
                </div>
                <div class="textTeam">
                    <p>Chayamaca</p>
                    <p>The Spirit of Art</p>
                </div>
            </div>
    
        </section>
    </div>

    <section class="containerMision">
        <div class=" titleUs">
            <h3>Mission-value</h3>
        </div>
        <div class="textMision">
            <p>Make this world a better place</p>
        </div>
    </section>

    <section class="containerAwards">
        <div class="elipse">
            <div class="InfoElipse">
                <div class="titleAwards">
                    <h3>Distinctions and awards</h3>
                </div>
                <div class="textAwards">
                    <p>
                    BANACUACO has won thousands of smiles, joyful moments and planted seeds in the boys and girls who see our stories that will lead them to help us build a better world.
                    </p>
                </div>
            </div>
            <div class="normativity">
                <p>nomatividad</p>
            </div>
        </div>
    </section>
    <social-banacuaco></social-banacuaco>
</body>
</html>


<script type="text/javascript" src="../js/general/closeMenu.js"></script>


<!--
    alerta modal
-->
<script type="text/javascript" src="../js/general/es-en.js"></script>
<script src="../js/general/addAlertModal.js"></script>
<script type="module" src="../js/general/modules/headerAndsocialMedia.mjs"></script>
