<!-- 
    Archivo para la secciòn de servicios
    Creado por: Juan José Arteta Maury
    Fecha: 20/11/2022 
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>servicios</title>
    <link href="../css/services.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/redesSociales.css">
</head>
<body>
    <header-banacuaco languaje=<%= idiom%>></header-banacuaco>

    <!-- Fin del header -->
    
    <div class="containerServices">
        <div class="title">Services</div>

        <div class="containerInfoServices">
            <div class="franjaServices">
                <div class="contentInfo">
                    <div class="textInfo">
                        <div class="titleService">
                            <h3>Animation</h3>
                        </div>
                        
                        <div class="imgService mobil">
                            <img src="../images/El observador - color_Ajustes.jpg" alt="">
                        </div>

                        <div class="descriptionService">
                            <p>We bring your ideas to life by turning them into powerful animations in any technique: 2D, 3D, stop motion or mixed media.
                            ur productions are aimed at children.</p>
                        </div>
                    </div>
                    <div class="imgService desktop">
                        <img src="../images/El observador - color_Ajustes.jpg" alt="">
                    </div>
                </div>
            </div>

            
            <div class="contentInfo deg">
            
                <div class="imgDesign desktop">
                    <img src="../images/Escala personajes copia.jpg" alt="">
                </div>

                <div class="textInfo">
                    <div class="titleService">
                        <h3>CHARACTER DESIGN</h3>
                    </div>
                    
                    <div class="imgDesign mobil">
                        <img src="../images/Escala personajes copia.jpg" alt="">
                    </div>

                    <div class="descriptionService">
                        <p>We create attractive characters, visually consistent with the target audience and with solid personalities that generate a strong emotional connection with infants.</p>
                    </div>
                </div>
            </div>

            <div class="franjaServices degArts">
                <div class="contentInfo degContentArts">
                    <div class="imgConceptArts desktop  marginTopArts">
                        <img src="../images/CLC_Ca_03_Es_7_T_1.jpg" alt="">
                    </div>
                    <div class="textInfo">
                        <div class="titleService">
                            <h3>CONCEPT ARTS</h3>
                        </div>
                        
                        <div class="imgConceptArts mobil">
                            <img src="../images/CLC_Ca_03_Es_7_T_1.jpg" alt="">
                        </div>

                        <div class="descriptionService">
                            <p>Creation of illustrations, background designs, own and any image that requires expressing ideas or emotions.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="contentInfo deg marginTopArts">
            
                <div class="textInfo">
                    <div class="titleService">
                        <h3>SCRIPTS</h3>
                    </div>
                    
                    <div class="imgGuiones mobil">
                        <img src="../images/Las entradas a Banacuaco-12-c.jpg" alt="">
                    </div>

                    <div class="descriptionService">
                        <p>Literary scripts that tell stories that can change lives with their incredible messages.</p>
                    </div>
                </div>

                <div class="imgGuiones desktop">
                    <img src="../images/Las entradas a Banacuaco-12-c.jpg" alt="">
                </div>
            </div>

            <div class="franjaServices ">
                <div class="contentStoryBoards">
                    <div class="textInfoHistory">
                        <div class="titleService">
                            <h3>STORY BOARDS</h3>
                        </div>
                        <div class="descriptionService">
                            <p>The best narrative sequences for your stories</p>
                        </div>
                    </div>
                    <div class="imgStory">
                        <img src="../images/Story board_El Jardin Interior.png" alt="">
                    </div>
                </div>
            </div>

            <div class="foundImgService">
                <div class="contentPostproduction">
                    <!--<div class="imgContent">
                        <img src="./img/GEO ROBOTS sin logos.jpg" alt="">
                    </div>-->
                    <div class=""></div>
                    <div class="textPostproduction">
                        <div class="titleService postproductionTitle">
                            <h3>Post production</h3>
                        </div>
    
                        <div class="descriptionService">
                            <p>We carry out the processes so that you can see your finished audiovisual works. Editing, digital composition, effects, music, sound and final renders.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contentContact">
                <div class="buttonContact">
                    <a href="">CONTACT US</a>
                </div>
            </div>
            
            <div class="normativity">
                <p>nomatividad</p>
            </div>
        </div>

    </div>
    <social-banacuaco></social-banacuaco>
</body>

</html>


<script type="text/javascript" src="../js/general/closeMenu.js"></script>


<!--
    alerta modal
-->
<script type="text/javascript" src="../js/general/es-en.js"></script>
<script src="../js/general/addAlertModal.js"></script>
<script type="module" src="../js/general/modules/headerAndsocialMedia.mjs"></script>