<!--
    Documento que contiene la grilla para las imagenes de las producciones (faunas, fondos e ilustraciones)
-->


<div class="conatinerImages">
    <div class="newImages">
        <label for="newImage">
            <img src="../images/icoAddGalery.svg" alt="">
        </label>
        <input type="file" id="newImage">
    </div>
    <div class="titleSection">
        Titulo de la sección
    </div>
    <div class="contentSection">
        <div class="imgSection">
            <img src="../images/Escala personajes copia.jpg" alt="" />
            <div class="icons">
                <div class="iconsImgEdit">
                    <a href="/dashboard/fondosEdit"><img src="../images/editCrud.svg" alt="" > </a>
                </div>
                <div class="iconsImgDelete">
                    <img src="../images/deleteCrud.svg" alt="" onclick="deleteAlert()">
                </div>
            </div>
            <p>Grupo 1</p>
        </div> 
    </div>
</div>
