<!--
    Documento que contiene el mini header para las sección de editar producciones
-->

<div class="containerInfoProduction">
    <div class="contentInfoProduction">
        <div class="headerInfoProduction">
            <a href="/dashboard/editarProduccion">
                <p>Sinopsis</p>
            </a>
            <a href="/dashboard/editarProduccionVerPersonajes">
                <p>Personajes</p>
            </a>
            
            <a href="/dashboard/editarProduccionFondos">
                <p>Fondos</p>
            </a>

            <a href="/dashboard/editarProduccionFauna">
                <p>Fauna</p>
            </a>

            <a href="/dashboard/editarProduccionIlustraciones">
                <p>Ilustraciones</p>
            </a>
            

        </div>
    </div>
</div>