<div class="conatinerImages">
    <div class="newImages">
        <label for="newImage">
            <img src="../images/icoAddGalery.svg" alt="">
        </label>
        <input type="file" id="newImage">
    </div>
    <div class="titleSection">
        Titulo de la sección
    </div>
    <div class="contentSection">
        <div class="imgSection">
            <img src="../images/BANACUACO Banner Youtube 2022 web.jpg" alt="" />
            <div class="iconsImg">
                <img src="../images/deleteCrud.svg" alt="">
            </div>
        </div>

        <div class="imgSection">
            <img src="../images/Escala personajes copia.jpg" alt="" />
            <div class="iconsImg">
                <img src="../images/deleteCrud2.svg" alt="">
            </div>
        </div> 
        <div class="imgSection">
            <img src="../images/Escala personajes copia.jpg" alt="" />
            <div class="iconsImg">
                <img src="../images/deleteCrud2.svg" alt="">
            </div>
        </div>
        
        <div class="imgSection">
            <img src="../images/Escala personajes copia.jpg" alt="" />
            <div class="iconsImg">
                <img src="../images/deleteCrud2.svg" alt="">
            </div>
        </div>  
        
        <div class="imgSection">
            <img src="../images/Escala personajes copia.jpg" alt="" />
            <div class="iconsImg">
                <img src="../images/deleteCrud2.svg" alt="">
            </div>
        </div> 
    </div>

</div>