<div class="containerSeeImages">
    <div class="contentSeeImages">
        <div class="newImages">
            <label for="newImage">
                <img src="../images/icoAddGalery.svg" alt="">
            </label>
            <input type="file" id="newImage">
        </div>
        <div class="titleSection">
            Titulo de la sección
        </div>
        <div class="description">
            <p>Descripción</p>
            <textarea name="textarea"  disabled>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis consequuntur error porro, dolor totam enim et. Atque est facere sit.</textarea>
            <div class="flexIcons">
                <div class="iconsImgEdit  widthIcon">
                    <a href="#"><img src="../images/editCrud.svg" alt="" > </a>
                </div>
                <div class="iconsImgEdit  widthIcon">
                    <a href="#"><img src="../images/icosave.svg" alt="" > </a>
                </div>
            </div>
        </div>
        <div class="contentGaleryImage">
            <div class="subTitleSection">
                Imagenes
            </div>
            <div class="contentSection">
                <div class="imgSection">
                    <img src="../images/Escala personajes copia.jpg" alt="" />
                    <div class="icons">
                        <div class="iconsImgDelete">
                            <img src="../images/deleteCrud.svg" alt="" onclick="deleteAlert()">
                        </div>
                    </div>
                </div> 
                
                <div class="imgSection">
                    <img src="../images/Escala personajes copia.jpg" alt="" />
                    <div class="icons">
                        <div class="iconsImgDelete">
                            <img src="../images/deleteCrud.svg" alt="" onclick="deleteAlert()">
                        </div>
                    </div>
                </div> 
            </div>
            
        </div>
    </div>
</div>