<div class="containerInfoProduction">
    <div class="contentInfoProduction">
        <div class="headerInfoProduction">
            <a href="/dashboard/editarProduccion">
                <p>Sinopsis</p>
            </a>
            <a href="/dashboard/editarProduccionPersonajes">
                <p>Personajes</p>
            </a>
            
            <a href="#">
                <p>Fondos</p>
            </a>

            <a href="#">
                <p>Fauna</p>
            </a>

            <a href="#">
                <p>Ilustraciones</p>
            </a>
            

        </div>
    </div>
</div>