<div class="containerSeeImages">
    <div class="contentSeeImages">
        <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum minus nihil adipisci eaque voluptates ad ipsam, incidunt enim placeat nisi.|    
        </div>
    </div>
</div>