<!-- 
    Archivo para la secciòn de servicios
    Creado por: Juan José Arteta Maury
    Fecha: 21/11/2022
    
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Producciones</title>
    <link href="./css/sevicios.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/productions.css">
    <link rel="stylesheet" href="../css/redesSociales.css">
</head>

<body>
    <header-banacuaco languaje=<%= idiom%>></header-banacuaco>

    <div class="containerProduction">
        <div class="title">Producciones</div>
    
        <div class="contentProduction">
            <a href="/produccion">
                <div class="infoProduction">
                    <img src="../images/Escala personajes copia.jpg" alt="">
                    <p>criaturas Locas del caribe</p>
                    <p>serie animada</p>
                    <p> 2020 </p>
                </div>
            </a>

            <a href="/produccion">
                <div class="infoProduction">
                    <img src="../images/Escala personajes copia.jpg" alt="">
                    <p>criaturas Locas del caribe</p>
                    <p>serie animada</p>
                    <p> 2020 </p>
                </div>
            </a>

            <a href="/produccion">
                <div class="infoProduction">
                    <img src="../images/Escala personajes copia.jpg" alt="">
                    <p>criaturas Locas del caribe</p>
                    <p>serie animada</p>
                    <p> 2020 </p>
                </div>
            </a>

            <a href="/produccion">
                <div class="infoProduction">
                    <img src="../images/Escala personajes copia.jpg" alt="">
                    <p>criaturas Locas del caribe</p>
                    <p>serie animada</p>
                    <p> 2020 </p>
                </div>
            </a>

            <a href="/produccion">
                <div class="infoProduction">
                    <img src="../images/Escala personajes copia.jpg" alt="">
                    <p>criaturas Locas del caribe</p>
                    <p>serie animada</p>
                    <p> 2020 </p>
                </div>
            </a>

            <a href="/produccion">
                <div class="infoProduction">
                    <img src="../images/Escala personajes copia.jpg" alt="">
                    <p>criaturas Locas del caribe</p>
                    <p>serie animada</p>
                    <p> 2020 </p>
                </div>
            </a>

        </div>
    </div>
    <div class="normativity">
        <p>nomatividad</p>
    </div>
    <social-banacuaco></social-banacuaco>
</body>

</html>


<script type="text/javascript" src="../js/general/closeMenu.js"></script>
<script type="text/javascript" src="../js/general/es-en.js"></script>


<!--
    alerta modal
-->
<script src="../js/general/addAlertModal.js"></script>
<script type="module" src="../js/general/modules/headerAndsocialMedia.mjs"></script>