<!--
- Fecha de creación:  1/12/2022
- Por: Adrian camilo guerra polo
- El estilo se toma del archivo productionEspc.css
- Html para una produccion en especifico.
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Produccion</title>
    <link rel="stylesheet" href="../css/productionEspc.css" />
    
</head>
<body>
    <header-banacuaco languaje=<%= idiom%>></header-banacuaco>

    <div class="containerProduction">
        <div class="imgHome">
            <img src="../images/intro_Logo.png" alt="" />
        </div>

        <div class="title">
            <p>Sinopsis</p>
        </div>


        <div class="textSinopsis">
            <p>una niña antes de dormir le pide a su abuelito que le cuente una historia. El abuelo herramienta online gratuita te permit le pregunta por sus vivencias del día, la pequeña le cuenta algún problema o
                dificultad que experimentó durante ese día que tienen que ver con su cotidianidad en el colegio, en el barrio o en casa. El abuelito con su experiencia le cuenta historias como cuentos, anécdotas de su vida, leyendas o chistes, cada una con su respectiva moraleja que le ayudan a la pequeña a implementar la creatividad en la resolución de conflictos y desarrollar valores.</p>
        </div>

        <div class="containerInfoServices">
            <div class="franjaServices">
                <div class="contentInfo">
                    <div class="imgService desktop">
                        <video src="https://carontestudio.com/img/f4.mp4" autoplay="true"></video>
                    </div>
                </div>
            </div>

            

            <div class="idea">
                <h3>Idea</h3>
                <div class="imgidea">

                    <img src="../images/Cuentos del Abuelo - Dibujo_1.jpg" alt="">
                    <img src="../images/Cuentos del Abuelo - Dibujo_4.jpg" alt="">
                </div>
                
            </div>

                <div class="franjaServices degArts">
                    <div class="contentInfo degContentArts">                      
                        <div class="textInfo">
                            <div class="titleChart">
                                <h3>Personajes</h3>
                            </div>

                            <div class="imgChart">
                                <div class="comlunImg">
                                    <img src="../images/Cuentos del Abuelo - Dibujo_5.jpg" alt="">
                                    <img src="../images/Cuentos del Abuelo - Dibujo_6.jpg" alt="">
                                </div>
                                <div class="fleximg">
                                    <img src="../images/01 Abuelo.jpg" alt="">
                                    <img src="../images/02 Nieta.jpg" alt="">
                                </div>
                            </div>

                                <div class="containerDescriptionA reverse">
                                    <div class="contentDescriptionA ">
                                        <div class="txtA">
                                            <h3>Abuelito peyo</h3>
                                        </div>
                                        <div class="contentA">
                                            <p>Es un viejito trabajador y muy sabio, cargado de historias, cuentos y anécdotas interesantes, con un gran sentido del humor, hace bromas con cualquier situación.</p>
                                        </div>
                                    </div>
                                    <div class="imgA">
                                        <img src="../images/Abuelito-06.jpg" alt="">
                                        <img src="../images/Abuelito-07.jpg" alt="">
                                    </div>
                                </div> 
                                <div class="containerDescriptionA">
                                    <div class="contentDescriptionA">
                                        <div class="txtA">
                                            <h3>Isabela</h3>
                                        </div>
                                        <div class="contentA ">
                                            <p>La nieta de Peyo, una pequeña cargada de inocencia e ingenuidad, posee una gran curiosidad que hace que pregunte el porqué de las cosas.</p>
                                        </div>
                                    </div>
                                    <div class="imgA">
                                        <img src="../images/Niña-14.jpg" alt="">
                                        <img src="../images/Niña-15.jpg" alt="">
                                    </div>
                                    
                                </div>                                            
                        </div>
                    </div>
                </div>

                <div class="containerMoreInfo">
                    <div class="title">
                        <p>Fondo</p>
                    </div>
                    <div class="imgAFondo">
                        <img src="../images/Fondo cuarto niña versión 3.jpg" alt="">
                    </div>

                    <div class="title">
                        <p>Ilustraciones cuento</p>
                    </div>
            
                    <div class="textSinopsis">
                        <p>una niña antes de dormir le pide a su abuelito que le cuente una historia. El abuelo herramienta online gratuita te permit le pregunta por sus vivencias del día, la pequeña le cuenta algún problema o
                            dificultad que experimentó durante ese día que tienen que ver con su cotidianidad en el colegio, en el barrio o en casa. El abuelito con su experiencia le cuenta historias como cuentos, anécdotas de su vida, leyendas o chistes, cada una con su respectiva moraleja que le ayudan a la pequeña a implementar la creatividad en la resolución de conflictos y desarrollar valores.</p>
                    </div>

                    <div class="containerGalery">
                        <div class="title">
                            <p>galeria</p>
                        </div>                     
                        <div class="contentGalery">
                            <div class="infoGalery">
                            <img src="../images/Ilustración-1.jpg" alt="">
                        </div>                 
                            <div class="infoGalery">
                                <img src="../images/Ilustración-2.jpg" alt="">
                            </div>                 
                            <div class="infoGalery">
                                <img src="../images/Ilustracion-3.jpg" alt="">
                            </div>                 
                            <div class="infoGalery">
                                <img src="../images/Ilustración-4.jpg" alt="">
                            </div>                
                            <div class="infoGalery">
                                <img src="../images/Ilustracion-5.jpg" alt="">
                            </div>                
                            <div class="infoGalery">
                                <img src="../images/Ilustración-7.jpg" alt="">
                            </div>  
                            <div class="infoGalery">
                                <img src="../images/Ilustración-11.jpg" alt="">
                            </div>                    
                        </div>
                </div>      
    
                <social-banacuaco></social-banacuaco>


        <div class="nomatividad">
            <p>Nomatividad</p>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" src="../js/general/closeMenu.js"></script>
<!--
    alerta modal
-->
<script type="text/javascript" src="../js/general/es-en.js"></script>
<script src="../js/general/addAlertModal.js"></script>
<script type="module" src="../js/general/modules/headerAndSocialMedia.mjs"></script>