<!-- 
    Archivo para la secciòn de servicios
    Creado por: Juan José Arteta Maury
    Fecha: 20/11/2022 
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>servicios</title>
    <link href="../css/services.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header-banacuaco languaje=<%= idiom%>></header-banacuaco>

    <!-- Fin del header -->
    
    <div class="containerServices">
        <div class="title">
            <h3>Servicios</h3>
        </div>

        <div class="containerInfoServices">
            <div class="franjaServices">
                <div class="contentInfo">
                    <div class="textInfo">
                        <div class="titleService">
                            <h3>animación</h3>
                        </div>
                        <div class="imgService mobil">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/RymizBUCd-c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                        <div class="descriptionService">
                            <p>Le damos vida a tus ideas convirtiendolas en poderosas animaciones en cualquier técnica: 2D, 3D, stop Motion o técnicas mixtas.
                                Nuestras producciones están   dirigidas al público infantil.</p>
                        </div>
                    </div>
                    <div class="imgService desktop">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/RymizBUCd-c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            
            <div class="contentInfo deg">
            
                <div class="imgDesign desktop">
                    <img src="../images/Escala personajes copia.jpg" alt="">
                </div>

                <div class="textInfo">
                    <div class="titleService">
                        <h3>DISEÑO DE PERSONAJES</h3>
                    </div>
                    
                    <div class="imgDesign mobil">
                        <img src="../images/Escala personajes copia.jpg" alt="">
                    </div>

                    <div class="descriptionService">
                        <p>Creamos personajes atractivos, visualmente acordes al público objetivo y con personalidades sólidas que generen una fuerte conexión emocional con los infantes.</p>
                    </div>
                </div>
            </div>

            <div class="franjaServices degArts">
                <div class="contentInfo degContentArts">
                    <div class="imgConceptArts desktop  marginTopArts">
                        <img src="../images/CLC_Ca_03_Es_7_T_1.jpg" alt="">
                    </div>
                    <div class="textInfo">
                        <div class="titleService">
                            <h3>CONCEPT ARTS</h3>
                        </div>
                        
                        <div class="imgConceptArts mobil">
                            <img src="../images/CLC_Ca_03_Es_7_T_1.jpg" alt="">
                        </div>

                        <div class="descriptionService">
                            <p>Creación de ilustraciones, diseños de fondos, props y cualquier imagen que requiera expresar ideas o emociones.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="contentInfo deg marginTopArts">
            
                <div class="textInfo">
                    <div class="titleService">
                        <h3>GUIONES</h3>
                    </div>
                    
                    <div class="imgGuiones mobil">
                        <img src="../images/Las entradas a Banacuaco-12-c.jpg" alt="">
                    </div>

                    <div class="descriptionService">
                        <p>Guiones literarios que cuentan historias que pueden cambiar vidas con sus increíbles mensajes.</p>
                    </div>
                </div>

                <div class="imgGuiones desktop">
                    <img src="../images/Las entradas a Banacuaco-12-c.jpg" alt="">
                </div>
            </div>

            <div class="franjaServices ">
                <div class="contentStoryBoards">
                    <div class="textInfoHistory">
                        <div class="titleService">
                            <h3>STORY BOARDS</h3>
                        </div>
                        <div class="descriptionService">
                            <p>Las mejores secuencias narrativas para tus historias</p>
                        </div>
                    </div>
                    <div class="imgStory">
                        <img src="../images/Story board_El Jardin Interior.png" alt="">
                    </div>
                </div>
            </div>

            <div class="foundImgService">
                <div class="contentPostproduction">
                    <!--<div class="imgContent">
                        <img src="./img/GEO ROBOTS sin logos.jpg" alt="">
                    </div>-->
                    <div class=""></div>
                    <div class="textPostproduction">
                        <div class="titleService postproductionTitle">
                            <h3>Postproducción</h3>
                        </div>
    
                        <div class="descriptionService">
                            <p>Realizamos los procesos para que veas tus obras audiovisuales finalizadas. Edición, composición digital, efectos, musicalización, sonorización y renders finales.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contentContact">
                <div class="buttonContact">
                    <a href="contacto">CONTÁCTANOS</a>
                </div>
            </div>
            
        </div>

    </div>
    <social-banacuaco></social-banacuaco>
    <footer-Banacuaco></footer-Banacuaco>
</body>

</html>


<script type="text/javascript" src="../js/general/closeMenu.js"></script>
<script type="text/javascript" src="../js/general/es-en.js"></script>

<!--
    alerta modal
-->
<script src="../js/general/addAlertModal.js"></script>
<script type="module" src="../js/general/modules/headerAndsocialMedia.mjs"></script>